*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --red :hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%) ;
    --greyishBlue: hsl(246,25%,77%);
    --white: white;

}

body{
    background-image: url(./Zuri-Resp/images/images/bg-intro-desktop.png);
    background-color: var(--red);
    color: var(--white);
    font-family: "Poppins";
  
}
main{
    display: flex;
    gap: 10px;
    padding: 20px;
    width: 80vw;
    height: 100vh;
    margin: auto;
    justify-items: center;
    align-items: center;
}
#left-side {
    width: 50%;
}
#right-side {
    width: 50%;
}
#right-side > p {
    background-color: var(--blue);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 5px 3px hsl(0, 67%, 54%);
    padding: 15px 0;
}
form {
    background-color: var(--white);
    text-align: center;
    padding: 40px;
    width: 100%;
    box-shadow: 0 5px 3px hsl(0, 67%, 54%);
    border-radius: 5px;
}

form input {
    padding: 20px 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid var(--greyishBlue);
    border-radius: 5px;
    font-size: 18px;
}
form p {
    color: black;
    font-size: 13px;
}
form p span {
    color: var(--red);
}

.btn {
    background-color: var(--green);
    text-align: center;
    color: white;
}

@media screen and (max-width: 768px) {

    main {
        height: 150vh;
        padding: 100px 0 30px 0;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    #left-side {
        width: 100%;
    }
    #right-side {
        width: 100%;
    }
}



